# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.pem
# Terraform lock file
# Keep this file committed for reproducible provider versions
# .terraform.lock.hcl should NOT be ignored


# =========================
# AWS
# =========================

*.pem
*.key

.aws/
credentials


# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# Node.js
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db


# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.swp